@charset "utf-8";
@font-face {
    font-family: 'P22UndergroundCYPro-Medium';
    src: url('../fonts/P22UndergroundCYPro-Medium.eot');
    src: local('☺'), url('../fonts/P22UndergroundCYPro-Medium.woff') format('woff'), url('../fonts/P22UndergroundCYPro-Medium.ttf') format('truetype'), url('../fonts/P22UndergroundCYPro-Medium.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'P22UndergroundCYPro-Thin';
    src: url('../fonts/P22UndergroundCYPro-Thin.eot');
    src: local('☺'), url('../fonts/P22UndergroundCYPro-Thin.woff') format('woff'), url('../fonts/P22UndergroundCYPro-Thin.ttf') format('truetype'), url('../fonts/P22UndergroundCYPro-Thin.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}


/*@viewport {
    orientation: portrait;
    width: 320px;
}*/

#viewport {
    position: fixed;
    width: 100%;
    height: 100%;
    min-height: 100vh;
}

body,
html,
.images_slider {
    /*-webkit-backface-visibility: hidden;*/
}

body,
html {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;
    -webkit-overflow-scrolling: touch;
    border: 0px;
    padding: 0px;
    margin: 0px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: normal;
    color: #000000;
    -webkit-text-size-adjust: none;
    font-feature-settings: "liga", "kern";
    text-rendering: optimizelegibility;
    background: #261607;
}

@media screen and (width: 320px) {
    html {
        height: calc(100% + 72px);
    }
}

* {
    box-sizing: border-box;
}

a,
div,
p,
span,
input,
form,
img {
    /*    -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -o-user-select: none;
        user-select: none;*/
    /*-webkit-appearance: none;*/
}

input {
    border: none;
    margin: 10px 0px 0px 0px;
    padding: 8px 10px;
    text-transform: uppercase;
    font-size: 0.5rem;
    -webkit-appearance: none;
    border-radius: 0px;
    -moz-border-radius: 0px;
    -o-border-radius: 0px;
    -webkit-border-radius: 0px;
    -khtml-border-radius: 0px;
}

input[type="submit"] {
    background: rgb(63, 44, 29);
    color: #ffffff;
    cursor: pointer;
}

.visible {
    display: block;
}

.hide {
    display: none;
}


/*@keyframes blink {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
@-webkit-keyframes blink {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
.blink {
    -webkit-animation: blink 0.5s linear infinite;
    -moz-animation: blink 0.5s linear infinite;
    animation: blink 0.5s linear infinite;
}*/

a {
    color: #000000;
}


/*a:hover{
    color: #000000 !important;
}*/

table td {
    vertical-align: top;
}

h1,
h2,
h3 {
    text-indent: 0em !important;
    color: #ffffff;
    margin: 30px 0px 20px 0px;
    text-transform: uppercase;
    line-height: 1.3;
    -webkit-font-smoothing: antialiased;
    font-weight: bold;
    /*text-shadow: 1px 1px 1px rgba(0,0,0,0.004);*/
}

h2,
h3 {}

h1>a,
h2>a,
h3>a {
    text-decoration: none;
    color: #f57825;
    border-bottom: 1px dashed #f57825;
}

h1 {
    font-size: 1.75rem;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

h3 {
    font-size: 1.1rem;
    margin-bottom: 9px;
}

strong,
b {
    color: #000000;
}

.row {
    display: table;
}

.cell {
    display: table-cell;
}

.center {
    top: 50%;
    left: 50%;
    margin: 0px;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    /* для IE9 */
    transform: translateX(-50%) translateY(-50%);
}


/*-------------------------------------------------------------*/

#main_container {
    position: relative;
    overflow-x: hidden;
}

#main {
    position: relative;
    min-height: 100%;
    margin: 0px auto;
    min-width: 320px;
}


/*-------------------------------------------------------------*/

.but {
    position: relative;
    display: inline-block;
    text-align: center;
    background: #ffffff;
}

.but a {
    position: relative;
    display: block;
    padding: 7px 25px 5px 25px;
    text-decoration: none;
    font-size: 0.8rem;
    text-transform: uppercase;
    text-align: center;
    color: #000000 !important;
}


/*-------------------------------------------------------------*/

.vh {
    min-height: 100vh;
}

#images {
    position: fixed;
    width: 100vw;
    height: 100vh;
    min-width: 100%;
    min-height: 100%;
    overflow: hidden;
}

#images .p {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    background: url('../images/preloader.png') no-repeat center center;
}

#images .p img {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
}

.plan {
    position: relative;
    display: block;
    margin: 0px auto 0px auto;
    width: 100%;
    z-index: 1000;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    font-size: 1rem;
}

.plan_content {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0px auto;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
}

.plan .plan_content .header {
    position: relative;
    font-size: 0.75em;
    line-height: 1.3;
    width: 100%;
    color: #FFFFFF;
    text-align: center;
}

.plan .plan_content .header h1 {
    color: inherit;
    letter-spacing: 0.1rem;
    margin: 0px 0px 10px 0px;
}

.plan .txt {
    position: relative;
    margin: 20px auto;
    padding: 0px 50px;
    max-width: 768px;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.2em;
    font-weight: 300;
    color: #ffffff;
}

.plan .txt h1 {
    font-family: 'P22UndergroundCYPro-Medium';
    margin-bottom: 100px;
    text-align: left;
}

.plan .img {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    height: inherit;
    /*    -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;

        background-position: top center;
        background-repeat: no-repeat;

        background-attachment: scroll;*/
    pointer-events: none;
}

.plan .plan_content .block {
    position: relative;
}

.plan .plan_content .block>.foto {
    position: relative;
    width: 49%;
    min-width: 200px;
    display: inline-block;
}

.plan .plan_content .block>.foto img {
    width: 200px;
    height: 200px;
    border: 0px solid transparent;
    border-radius: 100px;
    -moz-border-radius: 100px;
    -o-border-radius: 100px;
    -webkit-border-radius: 100px;
    -khtml-border-radius: 100px;
}

.plan .plan_content .block>.description {
    position: relative;
    width: 49%;
    min-width: 200px;
    display: inline-block;
    text-align: left;
    font-size: 0.75rem;
    color: #000000;
    vertical-align: top;
    padding-top: 40px;
}

.plan .img img {}

.plan a {
    color: inherit;
    text-decoration: none;
}

.scrolly {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
}

.plan #arrows {
    position: absolute;
    bottom: 35px;
    color: #ffffff;
    height: 30px;
    left: 50%;
    margin-left: -15px;
    text-align: center;
    width: 30px;
    cursor: pointer;
}


/*-------------------------------------------------------------*/

#plan_1 {}

#plan_1 .img {
    /*background-image: url('../images/maritozzo_bckg.jpg');*/
}

#plan_1 .center {
    position: relative;
    width: 100%;
}

#plan_1 #logo {
    position: relative;
    width: 100%;
    height: 150px;
    background: rgba(0, 0, 0, 0) url("../images/maritozzo_logo.svg") no-repeat scroll center center;
    background-size: contain;
}

#plan_1 #icons {
    position: relative;
    width: 100%;
    text-align: center;
}

#plan_1 #icons .icon {
    position: relative;
    width: 80px;
    height: 80px;
    display: inline-block;
    text-align: center;
    vertical-align: bottom;
    margin: 0px 30px;
    color: #ffffff;
    font-style: normal;
    text-transform: uppercase;
    font-size: 0.8em;
    letter-spacing: 0.15em;
}

#plan_1 #icons .icon>a {
    position: relative;
    display: block;
    width: 80px;
    padding-top: 80px;
}

#plan_1 #icons .icon:nth-child(1) {
    background: url("../images/wine_bar_icon.svg") no-repeat scroll center center;
    background-size: 40%;
}

#plan_1 #icons .icon:nth-child(2) {
    background: url("../images/restaurant_icon.svg") no-repeat scroll center center;
    background-size: 70%;
}

#plan_1 #icons .icon:nth-child(3) {
    background: url("../images/cafe_icon.svg") no-repeat scroll center center;
    background-size: 50%;
}


/*-------------------------------------------------------------*/

#plan_2 {}

#plan_2 .vh {
    /*background-image: url('../images/wine_6974.jpg');
    background-attachment: fixed;
    background-size: 100% auto;*/
}

#plan_2 .plan_content {
    background: #651A19;
}

#plan_2 .txt {
    padding: 50px 0px;
}

#plan_2 .spons {
    position: relative;
    margin: 0px auto;
    width: 200px;
    height: 70px;
    background: rgba(0, 0, 0, 0) url("../images/alianta_logo.svg") no-repeat scroll center center;
}


/*-------------------------------------------------------------*/

#plan_3 {}

#plan_3 .vh {
    /*background-image: url('../images/wine_6974.jpg');
    background-attachment: fixed;
    background-size: 100% auto;*/
}

#plan_3 .img {
    /*background-image: url('../images/wine_6974.jpg');*/
    opacity: 0.3;
}

#plan_3 .block {
    width: 100%;
}

#plan_3 form {
    margin: 20px auto;
    max-width: 300px;
}


/*-------------------------------------------------------------*/

#plan_4 {}

#plan_4 .plan_content {
    /*background-image: url('../images/maritozzo_6617.jpg');
    background-attachment: fixed;
    background-size: 100% auto;*/
}

#plan_4 .img {
    /*background-image: url('../images/maritozzo_6617.jpg');*/
}

#plan_4 .block {
    width: 100%;
}


/*-------------------------------------------------------------*/

#plan_5 {}

#plan_5 .plan_content {}

#plan_5 .img {}

#plan_5 .block {
    width: 100%;
}


/*-------------------------------------------------------------*/

#main_menu_conatiner {
    position: fixed;
    top: 0px;
    left: 0px;
    background: rgb(255, 255, 255);
    font-size: 1rem;
    color: #000000;
    z-index: 200000;
    text-transform: uppercase;
    -moz-transform: translate3d(-120%, 0px, 0px);
    -webkit-transform: translate3d(-120%, 0px, 0px);
    -o-transform: translate3d(-120%, 0px, 0px);
    -ms-transform: translate3d(-120%, 0px, 0px);
    /* для IE9 */
    transform: translate3d(-120%, 0px, 0px);
    /*box-shadow: 30px 0px 40px 0px rgba(0,0,0,0.5);*/
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    white-space: nowrap;
}

#main_menu {
    position: relative;
    display: inline;
    padding: 30px 70px;
}

#main_menu_but {
    position: fixed;
    top: 10px;
    left: 10px;
    cursor: pointer;
    color: #ffffff;
    font-size: 1.5em;
    z-index: 100000;
}

#main_menu a {
    text-decoration: none;
}

#main_menu>ul {
    list-style: none;
    padding: 0px 50px 0px 40px;
}

#main_menu li {
    list-style: none;
}

#main_menu>ul>li {
    font-size: 1.2rem;
    padding: 0px 0px 25px 0px;
}

#main_menu>ul>li>ul {
    padding: 10px 0px 0px 0px;
}

#main_menu>ul>li>ul>li {
    font-size: 0.6em;
    padding: 0px 0px 10px 0px;
}


/*-------------------------------------------------------------*/

.menu_sec {
    position: relative;
    margin: 0px auto;
    font-size: 1rem;
    text-transform: uppercase;
}

.menu_sec .menu_block {
    position: relative;
    display: inline-block;
    margin: 0px 10px 10px 10px;
}

.menu_sec .menu_block a {
    padding: 5px 20px 3px 20px;
    text-decoration: none;
    font-size: 1em;
    letter-spacing: 0.1em;
    display: block;
    border: 1px solid #ffffff;
}


/*-------------------------------------------------------------*/

.rest_menu {
    padding: 3px!important;
    max-width: 600px;
    margin: 100px auto 200px auto;
}

.rest_menu .menu_block {
    position: relative;
    vertical-align: middle;
    text-align: center;
}

.rest_menu .menu_block a {
    display: block;
    padding: 70px 0px;
    margin: 3px;
    color: #ffffff;
    /*background: rgba(255,255,255,0.25);
    border: 1px solid rgba(255,255,255,0.5);*/
    font-size: 1.5em;
}

.rest_menu .menu_block.row {
    width: 100%;
}

.rest_menu .menu_block.cell {
    width: 50%;
}


/*-------------------------------------------------------------*/

.kroshki {
    padding: 30px 0px 40px 15px;
    font-size: 0.8rem;
    color: #942e34;
}

.kroshki a {
    color: #942e34;
}


/*-------------------------------------------------------------*/

#menu-container {
    width: 100%;
    background: #ffffff;
    padding: 50px 0px 50px 0px;
}

#menu-list {
    position: relative;
    max-width: 600px;
    min-height: 100vh;
    margin: 0px auto;
    background: #ffffff;
}

#menu-list .header {
    position: relative;
    width: 100%;
    background: #cccccc;
    text-align: center;
}

#menu-list .header h1 {
    font-size: 1.2rem;
    padding: 5px;
    margin: 0px;
    color: #000000;
}

#menu-list .comment {
    position: relative;
    width: 100%;
    text-align: center;
    color: #888A8D;
    font-size: 0.9rem;
    padding: 15px 0px;
}

#menu-list .part h2 {
    font-size: 1.2rem;
    padding: 5px;
    margin: 0px 0px 0px 10px;
    color: #942E34;
}

#menu-list .menu-content {
    position: relative;
    display: inline-block;
    width: 100%;
}

#menu-list .menu-content .sp {
    position: absolute;
    display: block;
    top: -30px;
    right: 50px;
    text-align: center;
    font-size: 0.6rem;
    text-transform: uppercase;
    color: #5D3227;
}

.dish-cat {
    font-size: 1rem;
    text-transform: uppercase;
    color: #942e34;
    white-space: nowrap;
    padding: 50px 0px 20px 15px;
}

.dish-country {
    font-size: 1rem;
    text-transform: uppercase;
    color: #942e34;
    white-space: nowrap;
    padding: 50px 0px 20px 15px;
}

.dish {
    position: relative;
    width: 100%;
    padding: 15px;
}

.dish .row {
    width: 100%;
}

.dish .name {
    font-size: 1rem;
    color: rgb(51, 128, 161);
    border-bottom: 1px dotted #cccccc;
    vertical-align: bottom;
}

.dish .name_rus {
    padding: 5px 100px 0px 0px;
    font-size: 0.8rem;
}

.dish .dotted {
    border-bottom: 1px dotted #cccccc;
    min-width: 10px;
    vertical-align: bottom;
    text-align: right;
}

.dish .desription {
    padding: 10px 100px 0px 20px;
    font-size: 0.6rem;
    color: #888A8D;
}

.dish .weight {
    font-size: 0.8rem;
    width: 50px;
    text-align: right;
    color: #000000;
    white-space: nowrap;
    vertical-align: bottom;
}

.dish .price {
    width: 45px;
    text-align: right;
    color: #0B5F7A;
    white-space: nowrap;
    vertical-align: bottom;
}

.ry {
    position: relative;
    height: 19px;
    min-width: 50px;
    padding-left: 20px;
}

.dish .region,
.dish .year {
    position: relative;
    height: 20px;
    padding: 2px 8px;
    font-size: 0.8rem;
    color: #686a6d;
    text-align: left;
    border: 1px solid #c8cacd;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    white-space: nowrap;
    background: #ffffff;
}

.dish .region {}

.dish .year {
    top: -1px;
    background: #f0f0f0;
}


/*-------------------------------------------------------------*/

#footer {
    background: #261607;
    padding: 30px 0px;
    font-family: 'P22UndergroundCYPro-Medium';
    color: #FFFFFF;
}

#footer a {
    white-space: nowrap;
}

#footer .txt {
    width: 100%;
    text-align: center;
    font-size: 0.75rem;
}

#footer .txt span:nth-child(1) {
    font-size: 1.5em;
    text-transform: uppercase;
}

#footer .txt span:nth-child(2) {
    font-size: 1em;
}

#footer .txt input:nth-child(1) {
    width: 150px;
}

#footer .address {
    position: relative;
    margin: 20px auto 0px auto;
    text-align: center;
    line-height: 1.2em;
    font-size: 1em;
}

#footer .address a {
    color: inherit;
    text-decoration: none;
}

#footer .small_logo {
    position: relative;
    height: 70px;
    margin: 0px auto;
    background: rgba(0, 0, 0, 0) url("../images/maritozzo_footer.svg") no-repeat scroll center center;
}

#footer .copyright {
    position: relative;
    margin: 20px auto 0px auto;
    text-align: center;
    font-size: 0.75em;
}

#footer .copyright a {
    color: inherit;
    text-decoration: none;
}

.logo {
    margin-right: 85px;
}

a.logo {
    display: block;
}

a.logo > div {
    position: relative;
    top: 8px;
}

.line {
    position: relative;
    clear: both;
    margin: 20px 0px;
    height: 1px;
    background-color: #ccc;
}

.restriction {
    position: relative;
    width: 100%;
    max-width: 1280px;
    min-width: 980px;
    margin: 0px auto 0px auto;
}


/*-------------------------------------------------------------*/

#content_container {
    position: relative;
    width: 980px;
    margin: 10px auto 0px auto;
    padding-bottom: 200px;
}

#content {
    position: relative;
    margin: 40px auto 0px auto;
    padding: 0px 30px 200px 30px;
    width: 700px;
}

#content ul {
    margin: 10px 0px 10px 15px;
}

#content li {
    text-indent: -0.8em;
}


/*-------------------------------------------------------------*/

.chefs-container {
    background: #ffffff none repeat scroll 0 0;
    width: 100%;
}

.chefs {
    background: #ffffff none repeat scroll 0 0;
    margin: 0 auto;
    max-width: 700px;
    position: relative;
    color: #000000;
    font-size: 0.75rem;
    vertical-align: top;
    text-align: center;
}

.chefs h1,
.chefs h2,
.chefs h3 {
    color: #000000;
}

.chefs h1 {
    font-size: 2rem;
    text-align: center;
    letter-spacing: 0.25rem;
}

.chefs .line {
    position: relative;
    margin: 50px auto;
    clear: both;
}

.chefs .chef-img,
.chefs .chef-descr {
    vertical-align: top;
    text-align: center;
}

.chefs .chef-img {
    position: relative;
    width: 50%;
    min-width: 300px;
    display: inline-block;
    padding: 20px 20px 10px 20px;
}

.chefs .chef-descr {
    position: relative;
    width: 49.5%;
    min-width: 280px;
    display: inline-block;
    padding: 20px 20px 20px 10px;
    text-align: left;
}

.chefs .chef-descr h3 {
    margin: 0px 0px 20px 0px;
}


/*-------------------------------------------------------------*/

#ekran,
#ekran_region {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    bottom: 0px;
    background: #000000;
    opacity: 0.7;
    z-index: 100000;
    display: none;
    cursor: pointer;
}

#ekran_region {
    display: block;
}

#message_close {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 19px;
    height: 19px;
    background: url("../images/close_small.png") no-repeat;
    cursor: pointer;
}

#alert_container,
#region_container {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    bottom: 0px;
    z-index: 200000;
    display: none;
}

.alert {
    position: relative;
    max-width: 480px;
    background: #EFEFEF;
    font-size: 1rem;
    color: #000000;
}

#region_container {
    display: block;
}

.alert_msg {
    padding: 30px;
    font-size: 0.75em;
    line-height: 1.3em;
    position: relative;
    text-align: left;
}

.transfer_timer {
    position: relative;
    display: block;
}


/*-------------------------------------------------------------*/

#page_404 {
    margin-top: 80px;
}

#page_404 a {
    padding-right: 10px;
}

#page_404 div {
    text-align: center;
}


/*-------------------------------------------------------------*/

#desarium {
    width: 32px;
    height: 202px;
    position: fixed;
    bottom: 50px;
    left: 0px;
    background: url(http://desarium.com/logo/desarium_dark.png);
    background-repeat: no-repeat;
    z-index: 2100;
}

#desarium a {
    width: 32px;
    height: 202px;
    display: block;
}


/*-------------------------------------------------------------*/
